<button (click)="showModalDialog()" pButton pRipple type="button" label="Upload" icon="pi pi-upload"
  class="p-button p-button-primary p-button-sm"></button>
<p-dialog header="Document Upload" [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw',height: '100vh' }"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <form [formGroup]="uploadForm">
    <br />
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="float-input" formControlName="userId" type="text" pInputText />
          <label for="float-input">UserId</label>
        </span>
      </div>
    </div>
    <br>
    <div class="mb-3">
      <span class="p-float-label">
        <p-dropdown (onChange)="onSelect($event)" inputId="dropdown" formControlName="userType" [autoDisplayFirst]="false" [options]="userTypes"
          [style]="{ width: '100%' }">
        </p-dropdown>
        <label for="dropdown">UserType</label>
      </span>
    </div>
    <br>
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="float-input" formControlName="fileDescription" type="text" pInputText />
          <label for="float-input">Description</label>
        </span>
      </div>
    </div>

    <br>
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="float-input" formControlName="commonId" type="text" pInputText />
          <label for="float-input" *ngIf="isDispute">DisputeId</label>
          <label for="float-input" *ngIf="isAmendment">AmendmentId</label>
        </span>
      </div>
    </div>
    <br />
    <div class="mb-3">
      <div class="p-inputgroup">
        <input type="file" (change)="onChange($event)" />
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Save" icon="pi pi-save" (click)="save()"
      class="p-button p-button-primary p-button-sm"></button>
  </ng-template>
</p-dialog>
