<button
  (click)="showModalDialog()"
  pButton
  pRipple
  type="button"
  icon="pi pi-eye"
  class="p-button-rounded p-button-info p-button-outlined"
></button>
<p-dialog
  header="Document Detail"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw', height: '80vh' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item">Id : {{ document.id }}</li>
          <li class="list-group-item">
            DocumentName : {{ document.documentName }}
          </li>
          <li class="list-group-item">
            DocumentSize : {{ document.documentSize }}
          </li>
          <li class="list-group-item">
            DocumentDescription : {{ document.documentDescription }}
          </li>
          <li class="list-group-item">
            UploadedDate : {{ document.uploadedDate |  date: 'medium'  }}
          </li>
          <li class="list-group-item">
            UploadedBy : {{ document.uploadedBy }}
          </li>
          <li class="list-group-item">
            {{ common }} : {{ document.commonId }}
          </li>
          <li class="list-group-item">Versions</li>
          <ul class="list-group" *ngFor="let version of document.versions">
            <li class="list-group-item">{{ version }}</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
